	<div>
		{{#each channels}}
			<h2 class="channel_title">{{this.name}}</h2>
			<slick infinite="false" dots="false" slides-to-show="5" slides-to-scroll="1" class="channel_listing">
				{{#each this.items}}
					<div class="listing_item">
						<div class="vid_thumbnail_wrap">
							<a href="/watch/{{this.uid}}/{{this.slug}}"><img class="vid_thumbnail" alt="{{ this.title }}" title="{{this.title}}" src="{{#if this.thumbnails.[3]}}{{ this.thumbnails.[3] }}{{else}}{{ this.thumbnails.[0] }}{{/if}}" /></a>
						</div>
					</div>
				{{/each}}
			</slick>
		{{/each}}
	</div>