	<div>
		{{#each channels}}
			<h2 class="channel_title">{{this.name}}</h2>
			<slick infinite="false" dots="false" slides-to-show="5" slides-to-scroll="1" class="channel_listing">
				{{#each this.items}}
					<div class="listing_item">
						<div class="vid_thumbnail_wrap">
							<a ui-sref="watch({uid: '{{this.uid}}' })"><img class="vid_thumbnail" alt="{{ this.title }}" title="{{this.title}}" src="{{ this.thumbnails.[0] }}" /></a>
						</div>
					</div>
				{{/each}}
			</slick>
		{{/each}}
	</div>