		<div ng-app="videoApp" ng-controller="ChannelHomeCtrl">
			{{#each channels}}
				<h2 class="channel_title">{{this.name}}</h2>
				<div class="channel_listing">
					{{#each this.items}}
						<div class="listing_item">
							<div class="vid_thumbnail_wrap">
								<a href="/watch/{{this.uid}}/{{this.slug}}"><img class="vid_thumbnail" alt="{{ this.title }}" title="{{this.title}}" src="{{ this.thumbnails.[0] }}" /></a>
							</div>
						</div>
					{{/each}}
				</div>
			{{/each}}
		</div>