<div class="large-12 columns">
    <video id="video-player" class="video-js vjs-default-skin vjs-sedimentary" controls preload="auto" poster="{{video.thumbnails.[3]}}">
        <source src="{{video.files.mp4_high}}" type='video/mp4' data-res="HD" />
        <source src="{{video.files.mp4_low}}" type='video/mp4' data-res="SD" data-default="true" />
        <source src="{{video.files.webm}}" type='video/webm' />
        <source src="{{video.files.ogg}}" type='video/ogg' />
        <p class="vjs-no-js">To view this video please enable JavaScript, and consider upgrading to a web browser that <a href="http://videojs.com/html5-video-support/" target="_blank">supports HTML5 video</a></p>
    </video>
</div>

<h1 class="vid_title">{{video.title}}</h1>
<div class="vid_desc">{{video.description}}</div>
{{#if ajax}}<script src="/js/vendor/video.dev.js"></script>
<script src="/js/video-js-resolutions.js"></script>
<script type="text/javascript">
    $(document).ready(function(){
      videojs('video-player', {
        plugins: {
          resolutions: true
        }
      });
      videojs.options.flash.swf = "/js/vendor/video-js.swf";
      videojs('video-player').ready(function(){
        var singlePlayer = this;
        singlePlayer.volume(0.75);
        var aspectRatio = 9/16; // Make up an aspect ratio
      
        function resizeVideoJS(){
          // Get the parent element's actual width
          var width = document.getElementById(singlePlayer.id()).parentElement.offsetWidth;
          // Remove the padding from the calculation
          width = width - parseInt($("#video-player").parent().css('padding-left'));
          width = width - parseInt($("#video-player").parent().css('padding-right'));
          // Set width to fill parent element, Set height
          singlePlayer.width(width).height( width * aspectRatio );
        }
      
        resizeVideoJS(); // Initialize the function
        window.onresize = resizeVideoJS; // Call the function on resize
      });
    });
</script>{{/if}}