    <video id="video-player" class="video-js vjs-default-skin vjs-sedimentary" controls preload="auto"
      poster="{{video.thumbnails.[3]}}" data-setup='{}'>
     <source src="{{video.files.mp4_high}}" type='video/mp4' data-res="HD" />
     <source src="{{video.files.mp4_low}}" type='video/mp4' data-res="SD" data-default="true" />
     <source src="{{video.files.webm}}" type='video/webm' />
     <source src="{{video.files.ogg}}" type='video/ogg' />
     <p class="vjs-no-js">To view this video please enable JavaScript, and consider upgrading to a web browser that <a href="http://videojs.com/html5-video-support/" target="_blank">supports HTML5 video</a></p>
    </video>