<!doctype html>
<html class="no-js" lang="en">
<head>
    {{> header}}
    {{#if atVideo}}<meta property="og:description" content="{{video.description}}" />
    <meta property="og:image" content="{{video.thumbnails.[0]}}" />
    <meta property="og:type" content="video" />
    {{#if external}}<meta property="og:url" content="{{video.src}}" />
    <meta property="og:video" content="http://www.youtube.com/v/{{video.uid}}">
    <meta property="og:video:type" content="application/x-shockwave-flash">
    <meta property="og:video:width" content="398">
    <meta property="og:video:height" content="224">{{/if}}
    {{#unless external}}<meta property="og:video:width" content="640"> 
    <meta property="og:video:height" content="360">
    <meta property="og:video:url" content="{{video.files.mp4_low}}" />
    <meta property="og:video:type" content="video/mp4" />
    <meta property="og:video:url" content="{{video.files.webm}}" />
    <meta property="og:video:type" content="video/webm" />
    <meta property="og:updated_time" content="{{video.updated}}" />{{/unless}}{{/if}}
    <link href="/slick-carousel/slick/slick.css" rel="stylesheet">
    
    {{> styles}}
    
    {{> headScripts}}
</head>
<body>
  <div class="row full-width">
    <header class="header large-12 columns">
      <div class="row">
        <div class="small-12 small-centered columns"><a href="/" alt="3 Digital Rock Studios" id="logo">3 Digital Rock Studios</a></div>
      </div>
    </header>
  </div>
  
  <nav id="primary-nav" class="nav-collapse">
    <ul class="main-nav">
      <li class="nav-item"><a href="/">Home</a></li>
      <li class="nav-item"><a href="/about">About</a></li>
      <li class="nav-item current"><a href="/channels">Channel</a></li>
      <li class="nav-item"><a href="/store">Store</a></li>
      <li class="nav-item"><a href="/contact">Contact</a></li>
    </ul>
  </nav>

  <div class="row">
    <article ng-app="videoModule" class="large-12 columns">
      {{{body}}}
    </article>
  </div>
    
  {{> footerMenu}}
  
  {{> footerScripts}}
  
  {{#unless phone}}<script type="text/javascript">
    $(document).ready(function(){
      $('.vid_thumbnail').qtip({
        content: {
          title: function(event, api) {
            return $(this).attr('title');
          },
          text: function(event, api) {
            $.ajax({
                url: window.location.protocol + "//api." + window.location.host.replace('www.','') + "/videos/" + $(this).data('uid') + "?fields=description", // Use data-url attribute for the URL
                dataType: 'json',
            })
            .then(function(data) {
                // Set the tooltip content upon successful retrieval
                api.set('content.text', data.description);
            }, function(xhr, status, error) {
                // Upon failure... set the tooltip content to the status and error value
                api.set('content.text', status + ': ' + error);
            });

            return 'Loading...'; // Set some initial text
          },
        },
        position: {
          my: 'top center',
          at: 'bottom center',
          viewport: $(window),
          adjust: {
              method: 'flip'
          }
        },
        style: {
          classes: 'qtip-sedi qtip-shadow qtip-rounded'
        },
        hide: {
          fixed: true,
          delay: 300
        }
      });
    });
  </script>{{/unless}}
  
  {{{block footer}}}
</body>
</html>