<!doctype html>
<html class="no-js" lang="en" ng-app="frontend">
<head>
    {{> header}}
    
    {{#if atHome}}<meta property="og:description" content="A web network created by indie filmmakers, bringing you the best action, comedy, and horror flicks from no-budget to low-budget groups." />
    <meta property="og:type" content="website" />
    <meta property="og:image" content="http://3digitalrock.com/img/logo.png" />
    <meta name="google-site-verification" content="ONZwxDf3yLk5A2wOnh-E_qZQnNQFFWN9eYHC1WXYKxw" />
    
    <link href="//vjs.zencdn.net/4.7/video-js.css" rel="stylesheet" />{{/if}}

    {{> styles}}
    
    {{> headScripts}}
</head>
<body>
  <div class="row full-width">
    <header class="header large-12 columns">
      <div class="row">
        <div class="{{#if showVideo}}large-12 logo-overlay{{else}}small-12 small-centered{{/if}} {{#if atHome}}{{#if phone}}no-logo{{/if}}{{/if}} columns"><a {{#unless atHome}}href="/"{{/unless}} alt="3 Digital Rock Studios" id="logo" {{#if atHome}}style="cursor:default;"{{/if}}>3 Digital Rock Studios</a></div>
      </div>
    </header>
  </div>
  
  {{#if showVideo}}
    {{> video_bg}}
  {{/if}}
      
  <nav id="primary-nav" class="nav-collapse">
    <ul class="main-nav">
      <li class="nav-item {{#if atHome}}current{{/if}}"><a href="/">Home</a></li>
      <li class="nav-item {{#if atAbout}}current{{/if}}"><a href="/about">About</a></li>
      <li class="nav-item"><a href="/channels">Channel</a></li>
      <li class="nav-item"><a href="/store">Store</a></li>
      <li class="nav-item {{#if atContact}}current{{/if}}"><a href="/contact">Contact</a></li>
    </ul>
  </nav>
  
  <div class="row">
    <article class="large-12 columns">
      {{{body}}}
    </article>
  </div>
  
  {{> footerMenu}}
  
  {{> footerScripts}}
  
  <script src="/js/fill.js"></script>
  
  {{#if atHome}}{{#unless phone}}<script src="/js/dist/videoplayer.js"></script>
  <script type="text/javascript">
	  $(document).ready(function(){
	    jQuery(".wise-quotes").fitText(2, {maxFontSize: '80px'});
      /* Slider AutoChanging Title */
      function loadTitleAnimated(){
      	var myInterval;
      	var contador = 1;
      	var myFunc = function() {
      		var cur = $('.main-title ul li').length;
      		if(cur == contador) {
      				$('.main-title ul li.t-current').removeClass('t-current');
      				$('.main-title ul li').first().addClass('t-current');
      				contador = 1;
      			} else {
      				contador++;
      				$('.main-title ul li.t-current').removeClass('t-current').next().addClass('t-current');
      			}
      	};
      	myInterval = setInterval(myFunc, 5000); // Set Animation Interval in Miliseconds
      }
      loadTitleAnimated();
	  });
	  var videos = [{{#each trailers}}{"src": [{{#each this.files}}"{{this}}",{{/each}}],"poster": "{{this.thumbnails.[0]}}","title": "{{this.title}}"}{{#unless @last}},{{/unless}}{{/each}}];
	  videojs("video-bg").ready(function(){
      var myPlayer = this;
      myPlayer.ga();
      myPlayer.muted(true);
      myPlayer.playList(videos, {
        getVideoSource: function(vid, cb) {
          cb(vid.src, vid.poster);
        }
      });
      myPlayer.on('lastVideoEnded', function(e){
        myPlayer.playList(0);
        myPlayer.play();
      });
    });
  </script>{{/unless}}
  {{#if phone}}<script type="text/javascript">
    $(document).ready(function(){
      $("#video-bg-slider").responsiveSlides({
        speed: 1000,
        timeout: 5000,
        pager: false,
        nav: false
      });
    });
  </script>{{/if}}
  <script>
    $(document).ready(function(){
			$('#mc-embedded-subscribe-form').submit(function(e) {
				$( ".alert-box .close" ).trigger( "click" );
				var $this = $(this);
				$.ajax({
					type: "GET", // GET & url for json slightly different
					url: "https://3digitalrockstudios.us6.list-manage.com/subscribe/post-json?c=?",
					data: $this.serialize(),
					dataType    : 'json',
					contentType: "application/json; charset=utf-8",
					error       : function(err) { alert("Could not connect to the registration server. Please try again soon."); },
					success     : function(data) {
						if (data.result != "success") {
							data.msg=data.msg.slice(4);
							var alertBox = '<div data-alert class="alert-box alert"><strong>'+data.msg+' </strong> <a href="#" class="close">&times;</a></div>';
							setTimeout(function() {
								  $("#alert").append(alertBox).foundation("alert", undefined);
							}, 300);
						} else {
							var alertBox = '<div data-alert class="alert-box success"><strong>'+data.msg+' </strong></div>';
							$("#alert").append(alertBox).foundation("alert", undefined);
							$("#mc-embedded-subscribe-form").remove();
						}
					}
				});
				return false;
			});
    });
  </script>{{/if}}
</body>
</html>