<div class="more more_studio">
    <h4 class="more_title">More by {{video.studio.name}}</h4>
    
    <ul class="small-block-grid-2 medium-block-grid-4 more_items">
    {{#each relatedVideos.studio}}
        <li class="vid_thumbnail_wrap">
            <a href="/watch/{{this.uid}}/{{this.slug}}"><div class="img_round"><img class="vid_thumbnail vid_thumbnail_{{this.uid}}" alt="{{this.title}}" title="{{this.title}}" data-uid="{{this.uid}}" src="{{#if this.thumbnails.[3]}}{{ this.thumbnails.[3] }}{{else}}{{ this.thumbnails.[0] }}{{/if}}" /></div></a>
        </li>
    {{/each}}
    </ul>
</div>