<h4>More by {{video.studio.name}}</h4>

{{#each relatedVideos.studio}}
    <div class="vid_thumbnail_wrap"><a href="/watch/{{this.uid}}/{{this.slug}}"><img src="{{this.thumbnails.[0]}}" title="{{this.title}}"></a></div>
{{/each}}